version: "3.9"

services:
  frontend:
    build: ./frontend
    ports:
      - "3000:80"
    depends_on:
      - backend

  backend:
    build: ./backend
    ports:
      - "8000:8000"
    depends_on:
      - db
    environment:
      - DB_NAME=eventdb
      - DB_USER=eventuser
      - DB_PASSWORD=eventpass
      - DB_HOST=db

  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_DB: eventdb
      POSTGRES_USER: eventuser
      POSTGRES_PASSWORD: eventpass
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
